[Unit]
Description=The mini transcoder server
After=syslog.target network.target network-online.target remote-fs.target nss-lookup.target

[Service]
#Type=forking
PIDFile=/run/mtserver.pid
ExecStart=/bin/sh -c '/opt/bin/mtserver -p 9000 -d /export/www >> /var/log/mtserver.log 2>&1'
ExecStop=kill -9 $(ps axuf|grep mtserver|grep -v grep|awk '{print $2}')
PrivateTmp=false
Restart=always
#WatchdogSec=60
TimeoutSec=0

[Install]
WantedBy=multi-user.target